Repository rexdivakar/Notifly, pull requests merged in 2021-01, with the labels that each got.

#40 Added config file for Welcome BOT and Added Issue Templates
  .github/config.yml
  .github/workflows/ISSUE_TEMPLATE/bug.md
  .github/workflows/ISSUE_TEMPLATE/documentation.md
  .github/workflows/ISSUE_TEMPLATE/feature.md
  .github/workflows/ISSUE_TEMPLATE/proposal.md
Labels: documentation, enhancement

#43 created the issue template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: documentation

#45 Revert 40 add Config files for welcome bot
  .github/workflows/ISSUE_TEMPLATE/bug.md
  .github/workflows/ISSUE_TEMPLATE/documentation.md
  .github/workflows/ISSUE_TEMPLATE/feature.md
  .github/workflows/ISSUE_TEMPLATE/proposal.md
Labels: documentation

#47 Revert 45 revert 40 add template for issues
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/proposal.md
Labels: DWOC, documentation

#49 Feature/hardware stats
  README.md
  notifly/discord.py
  notifly/gpu_stats.py
  notifly/slack.py
  notifly/telegram.py
  notifly/tf_notifier.py
  req.txt
  requirements.txt
  test.py
Labels: enhancement

#54 Add templates for Pull Request
  .github/pull_request_template.md
Labels: DWOC, documentation

#56 potential code refactor, fix anti-patterns and optimize code performance
  notifly/gpu_stats.py
  notifly/telegram.py
  notifly/tf_notifier.py
  setup.py
  test.py
Labels: enhancement
